body{
  font-family: 'lato', sans-serif;
}


.item1 { grid-area: logo; }
.item2 { grid-area: header; }
.item3 { grid-area: foto; }
.item4 { grid-area: tekst; }
.item5 { grid-area: tekstlinks; }
.item6 { grid-area: tekstmidden; }
.item7 { grid-area: tekstrechts; }
.item8 { grid-area: bodem; }

.grid-container {
  display: grid;
  width: 1100px;
  margin: 0 auto;
  grid-template-areas:
    'logo logo header header header header'
    'foto foto foto foto tekst tekst'
    'tekstlinks tekstlinks tekstmidden tekstmidden tekstrechts tekstrechts'
    'bodem bodem bodem bodem bodem bodem';
  padding: 10px;
}

.bg {
  transform: rotate(90deg);
}

.hoofd{
  font-size: 26px;
  line-height: 30px;
}

.anders{
  font-size: 20px;
  line-height: 22px;
}

ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  float: left;
}

.item1 {
  background-image: linear-gradient(#dddddd, white);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.item2 {
  background-image: linear-gradient(#dddddd, white);
  text-align: center;

  font-size: 14px;
  line-height: 20px;
}

.item3 {
  background-image: linear-gradient(#32455d, white);
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  line-height: 20px;
}

.item4 {
  background-image: linear-gradient(#32455d, white);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.item5 {
  background-color: white;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.item6 {
  background-color: white;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.item7 {
  background-color: white;
  text-align: center;
  font-size: 14px;
 line-height: 20px; 
}

.item8 {
  background-color: #32455d;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

